<h1 class="mb-4">Places</h1>

<ul>
  <% for place in @places %>
    <li><a href="/places/<%= place.id %>"><%= place.name %></a></li>
  <% end %>
</ul>

<p>
  <% if @current_user %>
    <a href="/places/new" class="btn btn-primary">New place</a>
  <% else %>
    Login to create new places!
  <% end %>
</p>